.branding {
  /*background: tomato;*/
  padding: 11px;
  border-bottom: 1px solid #999;
}

h1 {
  font-size: 22px;
  margin: 0;
  color: #151515;
}

h2 {
  font-size: 18px;
  padding: 11px;
  color: #999;
}

.demo {
  margin: 22px 0;
  border-bottom: 1px solid #f0f0f0;
}

.monitor {
  padding: 22px;
  text-align: center;
  color: #e0e0e0;
  font-size: 33px;
}

.instructions {
  background: #f0f0f0;
  padding: 11px;
  font-family: monospace;
  color: #555;
  text-align: center;
}

.keys {
  padding: 22px;
  display: flex;
  justify-content: center;
  margin: 44px 0;
}

.key {
  margin: 11px;
  padding: 22px;
  border-radius: 11px;
  background: gold;
  box-shadow: goldenrod 0 9px 0, rgba(0, 0, 0, 0.5) 0 11px 18px;
  color: white;
  text-shadow: goldenrod 0 -1px 0;
  transition-property: all;
  transition-duration: 0.1s;
}

.key.pressed {
  background: tomato;
  text-shadow: saddlebrown 0 -1px 0;
  transform: translate3d(0, 6px, 0);
  box-shadow: indianred 0 3px 0, rgba(0, 0, 0, 0.5) 0 5px 11px;
}

.input {
  border: 1px solid #999;
  padding: 9px 12px;
  border-radius: 4px;
  display: block;
  margin: 11px 0;
  width: 100%;
  font-size: 18px;
}
